.App-logo {
    text-align: center;
    padding: 2rem;
}

.left-align {
    text-align: left;
}

.text {
    font-size: 15px;
    text-align: left
}
.text-footer {
    font-size: 13px;
}

.login-card {
    width: 33rem;
  
}

.Forgot-password{
    width: 30rem;
    margin-top: 0;
    
}
.App-logo1 {
    text-align: left;
   
}

.muted-text {
    font-size: 12px;
    color: rgb(146, 140, 140);
}

.forgot-text {
    color: red;
}
.btn{
    color: blue;
}

.login-btn {
    width: 16rem;
    color: white!important;
    background: rgb(90, 71, 172)!important;

}

.footer {
    background: rgb(179, 172, 172);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}



.changepassword-card{
    width: 45rem;
    margin-top: 5rem
}
/** Normal monitor **/
@media screen and (min-width: 1281px) and (max-width: 1366px) {
    .App-logo {
        text-align: center;
        padding: 2rem;
    }

    .App-logo img {
        height: 60px;
    }

    .ant-layout-footer {
        padding: 0 !important;

    }

    .h4,
    h4 {
        font-size: 20px;
        line-height: 2rem;
    }

    .h5,
    h5 {
        font-size: 13px!important;
        line-height: 1.5rem;
    }

    hr {
        margin-top: 0.5rem !important;
        margin-bottom: 0.5rem !important;
        border-top: 1px solid rgba(0,0,0,.1);
    }

    .muted-text {
        font-size: 12px;
        color: rgb(146, 140, 140);
        margin-top: -9px;
    }

    .ant-card-body {
        padding-top: 15px !important;
    }

    .ant-form-item {
        margin-bottom: 15px !important;
    }
}

/** Big monitor **/
@media screen and (min-width: 1367px) and (max-width: 1920px) {

    .App-logo {
        text-align: center;
        padding: 5vh;
    }
    .footer{
        background: rgb(236, 239, 243) !important
    }
}
@media screen and (min-height: 300px) and (max-height: 600px) {
    .footer {
        position: relative!important;

    }

    .container-fluid {
        padding: 0 !important;
        margin: 0 !important;
    }
}
@media screen and (min-width: 1921px) and (max-width: 2920px) {}